<footer>
    <div class="-info">

        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="brand">&copy;WanderLust CopyRight</div>
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <i class="fa-solid fa-envelope-circle-check"></i>
        </div>
    </div>

</footer>